<header class="myheader  nonprint  noprinted"  style="padding: 0px; margin: 0px;" > 
  <h1  style="padding: 0px; margin: 0px; margin-left: auto; margin-right: auto;" >
    <a style="all: unset" href="/">Cahier de text 1APIC</a>
  </h1>
  

</header>
